/* common */
body {
    font-family: Arial, sans-serif;
}

/* section {
    padding: 0px 0;
} */

/* header */
header {
    z-index: 5;
    position: relative;
    width: 100%;
    top: 0;
    position: fixed;
}

header {
    position: fixed;
}

/* section header top */
.header-top {
    background-color: black;
    line-height: 40px;
    width: 100%; 
}
.sony-logotipo {
    width: 100px;
    height: auto;
    padding: 10px;
}


/* section header bottom */
.header-bottom {
    background-color: white;
    line-height: 50px;
    /* height: 30px; */
}

.playstation-logo-blu {
    width: 80px;
    height: auto;
    margin-left: 20px;
}

ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 45px;  
    margin-top: 16px;  
    font-weight: 600;  
}

.button-accedi {
    border-radius: 30px;
    background-color: rgb(92, 92, 92);
    color: white;
    margin-right: 30px;
    padding: 10px 15px;
    font-weight: bold;
}

.lente, .hambuerger {
    margin-right: 25px;
    font-size: large;
}
/* section header bottom */


/* main section hero */
.hero {
    max-width: 100%;
    height: auto;
    margin-top: 110px;
    position: relative;
}

.returnal-img {
    max-width: 50%;
    margin-left: 35px;
    margin-top: 60px;
}

.rompi-il-cerchio {
    color: white;
    font-size: 55px;
    margin-left: 40px;
    padding-top: 20px;
}

.text-rialzati {
    color: white;
    margin-left: 40px;
    padding-top: 20px;
}

.button-acquista-ora {
    border-radius: 30px;
    background-color: rgb(255, 102, 0);
    color: white;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 20px;
}

.hero-box {
    position: absolute;
    top: 38%;
}
