/* common */
body {
    font-family: Arial, sans-serif;
}

a:hover {
    color: black;
}

/* simboli small tipografia */
.tm {
    font-size: 7px;
    bottom: 4px;
    position: relative;
}

.marchio-r {
    font-size: 18px;
    bottom: 10px;
    position: relative;
}

.text-ottieni,
.text-website {
    color: white;
}
/* simboli small tipografia */


/* header */
header {
    z-index: 5;
    position: relative;
    width: 100%;
    top: 0;
    position: fixed;
}

header {
    position: fixed;
}

/* section header top */
.header-top {
    background-color: black;
    line-height: 40px;
    width: 100%; 
}
.sony-logotipo {
    width: 100px;
    height: auto;
    padding: 10px;
}


/* section header bottom */
.header-bottom {
    background-color: white;
    /* line-height: 50px; */
    /* height: 30px; */
}

.playstation-logo-blu {
    width: 80px;
    height: auto;
    margin-left: 20px;
}

ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 45px;  
    margin-top: 16px;  
    font-weight: 600;
    font-size: 14px; 
}

.button-accedi {
    border-radius: 30px;
    background-color: rgb(61, 61, 61);
    color: white;
    margin-right: 30px;
    padding: 10px 15px;
    font-weight: bold;
}

.lente, .hambuerger {
    margin-right: 25px;
    font-size: large;
}
/* section header bottom */


/* main section hero */
#hero {
   background-image: url(' ../img/jumbo-bg.png');
   background-size: cover;
   padding-top: 200px;
   background-position: top center;
   margin-top: 100px;
}

.returnal-img {
    max-width: 60%;
    margin-top: 50px;
}

.rompi-il-cerchio {
    color: white;
    padding-top: 20px;
}

.text-rialzati {
    color: white;
    padding-top: 20px;
}


/* main section diapositive */
#diapositive {
    margin-top: 30px;
}


/* bottoni e pulsanti layout */
.button-acquista-ora {
    border-radius: 30px;
    background-color: rgb(255, 102, 0);
    color: white;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    margin-top: 20px;
}

.maggiori-info-blu{
    background-color: rgb(62, 113, 232);
}

.esplora-plus-button,
.esplora-now-button {
    border-radius: 30px;
    background-color: rgb(217, 218, 220);
    color: rgb(62, 113, 232);
    border: 3px solid hsl(220, 4%, 86%);
    padding: 10px 15px;
}

.esplora-now-button {
    color: black;
}
/* bottoni e pulsanti layout */



.box-text-first {
    padding-bottom: 50px;
    padding-right: 100px;
}

.returnal-img-small {
    border-radius: 25px;
    padding:10px;
}


/* section playstation cinque */
#playstation-cinque {
    padding-top: 100px;
}

.play-has {
    color: rgb(0, 174, 255)
}

.left-text-play {
    padding-top: 100px;
}

.left-text-play-due{
    padding-top: 250px;
}

.img-console-playstation {
    width: 50%;
}

.text-center {
    font-size: 85%;
    padding-top: 5px;
}


/* overley for section playsttion cinque */
.barra:hover {
    width:100%;
    border-bottom: 2px solid rgb(0, 145, 255);
}

.img-bkg-for-overley {
    position: relative;
}

.overley {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -15px;
    opacity: 1;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.364);
}

.overley:hover {
    background-color: rgba(255, 255, 255, 0);
    opacity: 1;
    transition: 1s;
}

.barra {
    width:100%;
    border-bottom: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -15px;
    opacity: 1;
    /* border-radius: 10px; */
}
/* overley for section playsttion cinque */

/* overley dapositive */
.imagine-bkg {
    position: relative;
}

.overley-diapo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}

.overley-diapo:hover {
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
    border-radius: 25px;
    border: 1px solid rgb(28, 157, 255);
    transition: 1s;
    color: white;
    transform: scale(1.1);
}

.returnal-img-small img {
     width: 100%;
     display: block;
}
/* overley dapositive */


/* main section hero.uno */
#hero-uno {
   background-image: url(' ../img/it-takes-two-hero-banner-desktop.jpg');
   background-size: cover;
   background-position: center;
   margin-top: 40px;
}


/* main section nuove uscite */
#nuove-uscite {
    padding: 40px;
    background-color: rgb(31, 31, 31);
    color: white;
    padding-bottom: 50px;
}

.giochi-text {
    padding-top: 15px;
}


/* main section esplora + main section nuovi sconti */
#esplora,
.container-box,
#nuovi-sconti {
    padding-top: 70px;
    padding-bottom: 50px;
}

.container-box-nuovi-sconti {
    padding-top: 40px;
    padding-bottom: 40px;
}

.img-esplora {
    width: 100%;
    margin-top: 20px;
}

.text-grey {
    color: grey;
}



/* main section play station plus */
#play-plus {
    background-color: rgb(190, 188, 187);
}

.container-plus, .container-now {
    padding-top: 70px;
}

.plus-img-yellow {
    width: 100%;
}

/* main section play station now */
#play-now {
    background-color: #161c3b;
}

/* main section social media */
#social-media {
    padding-top: 40px;
    padding-bottom: 80px;
}

.img-social {
    max-width: 6%;
    padding: 10px;
    padding-top: 40px;
}


/* footer  */
footer {
    background-color: rgb(0, 67, 156);
    padding-top: 60px;
    padding-bottom: 50px;
}

.text-country {
    color: white;
    display: flex;
    padding-left: 30px;
    align-content: flex-end;
    font-size: 14px;
}

.color {
    color: white;
}

.logo-play-white {
    width: 15%;
    padding-top: 20px;
}

.globo {
    width: 3%;
    padding-top: 30px;
    position: relative;
    top: 16px;
}

.logo-sony-interactive {
    width: 18%;
    padding-top: 120px;
}

.text-website {
    padding-top: 10px;
    padding-right: 6px;
    font-size: 14px;
}



    